
img{
    width: 100%;
    height: 500px ;
}
html body{
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: arial;
}
html{
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
}
body{
    display: block;
}
.header{
    display: inline-flex;
    position: fixed;
    z-index: 111;
    left: 0;
    top: 0;
    right: 0;
    background-color: rgb(255, 252, 85);
    height: 80px;
}
.a1{
    background-color: white;
    margin-top: 90px;
}
.logo{
    width: 150px;
    position: absolute;
    font-family:Comic Sans MS;
    font-size: 40px;
    color: rgb(0, 0, 0);
    margin-top: 15px;
    margin-left: 50px;
    
}
.search-box{
    margin-top: 25px;
    margin-left: 300px;
    height: 20px;
    position: relative;
    display: inline-flex;
    align-items: center;
    
}
.search-box .input-box{
    position: relative;
    padding: 10px;
    width: 300px;
    border-radius: 30px;
    background: white;
}
.search-box .input-box input{
    width: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    color: rgb(0, 0, 0);
    background: transparent;
    padding-right: 50px;
}
.search-box .input-box input::placeholder{
    color: rgb(0, 0, 0);
}
.search-box .search-button{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    box-shadow: 0 0 0 10px rgb(255, 252, 85);
    cursor: pointer;
}
.menu{
    margin-left: 100px;
    margin-top: 20px;
    font-size: 20px;
    width: 550px;
}
#a1{
    text-decoration: none;
    color: black;
}
#a1:hover{
    color: yellow;
}
.login1{
    margin-left: auto;
    margin-top: 20px;
}
.a2{
    margin-top: 50px;
    align-content: center;
}
.end{
    margin-top: 150px;
    font-family: arial;
    width: 100%;
    background-color: rgb(70, 218, 255);
    color: rgb(0, 0, 0);
    font-size: 15px;
}
.aboutme{
    margin-top: 100px;
    background-color: white;
}
.title_aboutme{
    text-align: center;
    padding-top: 25px;
}
.a1{
    margin-top: 25px;
}
#a2{
    color: black;
    text-decoration: none;
}
#a2:hover{
    color: red;
}