.head_menu{
    display: flex;
    background-color: rgb(70, 218, 255); 
    height: 68px;
    width: 100%;
    margin-top: 0px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
.logo{
    font-family:Comic Sans MS;
    font-size: 40px;
    color: yellow;
    text-decoration: none;
}
.search{
    padding-top: 20px;
    margin-left: 50px;
    vertical-align: middle;
    white-space: nowrap;
}
.menu_ngang {
    display: flex;
    list-style: none;
    font-family: Arial;
    margin-left: 200px;
    text-decoration: none;
}

.menu_ngang li{
    width: 200px;
    height: 40px;
    line-height: 30px;
    position: relative;
}
.menu_ngang li > .sub-menu{
    display: none;
    position: absolute;
    list-style: none;
    font-size: 15px;
    background-color: white;
    width: 120px;
    border-radius: 5px;
    border: 1px solid rgb(189, 189, 189);
}
.menu_ngang li:hover .sub-menu{
    display: block;
}
.user{
    margin-left: 280px;
    padding-top: 20px;
}
.head{
    height: 30px; 
    border-bottom: 1px solid rgb(155, 155, 155); 
    color: rgb(0, 0, 0); 
    font-family: arial; font-size: 15px; 
    padding-top: 8px; 
    margin-top: 68px; 
    background-color: white;
    left: 0;
    right: 0;
    
    
}
.banner{
    background-color: white;
    margin-left: 260px;
    margin-right: 280px;
    text-align: center;
}
.banner1{
    font-size: 15px;
    font-family: arial;
    height: 80px;
}
.banner1 tr td:hover{
    font-size: 17px;
    margin-top: 5px;
}
.login{
    margin-left: 620px;
    background-color: white;
    position: static;
    width: 525px;
    border-radius: 5px;
    margin-top: 30px;
    font-family: arial;
}
.creatacc{
    margin-left: 620px;
    background-color: white;
    position: static;
    width: 675px;
    border-radius: 5px;
    margin-top: 30px;
    font-family: arial;
}
.end{
    margin-top: 50px;
    font-family: arial;
    width: 100%;
    background-color: rgb(70, 218, 255);
    color: rgb(0, 0, 0);
    font-size: 15px;
    height: 300px;
    left: 0;
    right: 0;
    position: absolute;
}
#a1{
    text-decoration: none;
    color: black;
}
#a1:hover{
    color: yellow;
}
#a2{
    text-decoration: none;
    color: rgb(32, 32, 32);
}
#a2:hover{
    font-size: 16px;
    color: red;
}